name: publish pyright-python

on:
  push:
    branches:
      - main
    paths:
      - "pyright/_version.py"

jobs:
  publish_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install -r dev-requirements.txt

      - name: Get version
        run: |
          echo "NEW_VERSION=$(python .github/scripts/get_version.py --compare)" >> $GITHUB_ENV

      - name: Build package
        run: |
          python setup.py sdist bdist_wheel

      - name: Upload package
        run: |
          twine upload -u ${{ secrets.PYPI_USER }} -p ${{ secrets.PYPI_PASS }} dist/*

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          name: 'v${{ env.NEW_VERSION }}'
          tag_name: 'v${{ env.NEW_VERSION }}'
